<ion-header>
  <ion-toolbar color=primary>
    
    <ion-title>TuristView</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Correo
    </ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Contrasena
    </ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
  <section>
    <ion-button expand="block" routerLink='/folder/inbox'>Ingresar</ion-button>
  </section>
  <ion-item-divider>
    <ion-item>
      <ion-label floating><a routerLink="/register">Registrarse</a></ion-label>
      <ion-label floating class="textoCentral">o</ion-label>
      <ion-label text-wrap  class="textoCentral"><a routerLink="/">Recuperar Contrasena</a></ion-label>
    </ion-item>
  </ion-item-divider>
  <section>
    <ion-button expand="block" class="google" (click)="loginGoogle()">Registarse&nbsp;
      <ion-icon name="logo-google"></ion-icon>
  </ion-button>
  </section>
  <section>
    <ion-button expand="block" class="fb" (click)="loginFacebook()">Registarse&nbsp;
      <ion-icon name="logo-facebook"></ion-icon>
  </ion-button>
  </section>
  <section>
    <ion-button expand="block" class="twitter ">
      Registarse&nbsp;
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-button>
  </section>

</ion-content>
