section{
    margin: 15px;
}

.textoCentral{
    text-align: center;
}

ion-item{
    margin: 15px;
}

.google{
    --background: #db4a39;
}
.fb{
    --background: #3b5998;
}
.twitter{
    --background: #00acee;
}
