section{
    margin: 15px;
}

.textoCentral{
    text-align: center;
}

ion-item{
    margin: 20px;
}

.google{
    --background: #db4a39;
}
.fb{
    --background: #3b5998;
}
.twitter{
    --background: #00acee;
}

.login{
    padding-top: 0.6in;
}