<ion-header>
  <ion-toolbar color=primary>
    
    <ion-title>TuristView</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="login">
    <ion-item>
      <ion-label>
        Correo
      </ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Contraseña
      </ion-label>
        <ion-input [(ngModel)]="password" type="password" name="password" required="true"></ion-input>
    </ion-item>
    <section>
      <ion-button expand="block" (click)="doLogin()">Ingresar</ion-button>
    </section>
      <ion-item>
        <ion-label floating class="textoCentral"><a routerLink="/reset-pass">Olvide mi contrasena</a></ion-label>
      </ion-item>
    <section>
      <ion-button expand="block" class="google" (click)="loginGoogle()">
        <ion-icon name="logo-google"></ion-icon>
    </ion-button>
    </section>
    <section>
      <ion-button expand="block" class="fb" (click)="loginFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    </section>
    <section>
    <ion-button expand="block" routerLink="/register" >Registrarse</ion-button>
    </section>
  </div>

</ion-content>
