ion-card-header, ion-card-content{
    text-align: center;
}

.star-rating {
    $size: 20px;
    $normal: #95A5A6;
    $selected: #F39C12;
    
    display: inline-block;
    
    a {
      display: inline-block;
      width: $size;
      height: $size;
      line-height: $size;
      font-size: $size;
      color: $normal;
      text-decoration: none;
      text-align: center;
      transition: color .3s;
    }
    &:hover a {
      color: $selected;
      
      &:hover ~ a {
        color: $normal;
      }
    }
    
  }

  ion-card{
      margin-top: 0.5in;
  }