
 <ion-content fullscreen>
 <ion-card>
  <img src="assets/img/local-kfc.png" />
  <ion-card-header>
    
    <ion-card-title>KFC</ion-card-title>
    <ion-card-subtitle>Comida rápida</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  </ion-card-content>
  <ion-item>
    <ion-icon name="star-outline" slot="start"></ion-icon>
    <ion-icon name="heart-outline" slot="end"></ion-icon>
  </ion-item>
  
</ion-card>

  <ion-card>
    <img src="assets/img/naturisimo.png" />
    <ion-card-header>
      
      <ion-card-title>Naturisimo </ion-card-title>
      <ion-item  lines="none">
        <ion-icon slot="start" name='star-outline'></ion-icon>
        <ion-label>4.8</ion-label>
      </ion-item>
      
     
      <ion-card-subtitle>Comida saludable</ion-card-subtitle>
      <ion-card-subtitle>Desayunos</ion-card-subtitle>
    </ion-card-header>
  
    <ion-item>
      
      <ion-button fill="none" slot="start">
        <ion-icon slot="icon-only" name="star-outline"></ion-icon>
      </ion-button>
     
      
    </ion-item>
  </ion-card>
  <ion-card>
    <img src="assets/img/Mcdonalds.png" />
    <ion-card-header>
      
      <ion-card-title>McDonalds </ion-card-title>
      <ion-item  lines="none">
        <ion-icon slot="start" name='star-outline'></ion-icon>
        <ion-label>5.8</ion-label>
      </ion-item>
     
      <ion-card-subtitle>Comida rapida</ion-card-subtitle>

    </ion-card-header>
  
    <ion-item>
      
      <ion-button fill="none" slot="start">
        <ion-icon slot="icon-only" name="star-outline"></ion-icon>
      </ion-button>
     
      
    </ion-item>
  </ion-card>

  <ion-card>
    <img src="assets/img/pizzahut.png" />
    <ion-card-header>
      
      <ion-card-title>Pizza Hut </ion-card-title>
      <ion-item  lines="none">
        <ion-icon slot="start" name='star-outline'></ion-icon>
        <ion-label>6.8</ion-label>
      </ion-item>
      
      <ion-card-subtitle>Pizzeria</ion-card-subtitle>

    </ion-card-header>
  
    <ion-item>
      
      <ion-button fill="none" slot="start">
        <ion-icon slot="icon-only" name="star-outline"></ion-icon>
      </ion-button>
     
      
    </ion-item>
  </ion-card>

