<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Locales</ion-title>
    </ion-buttons>
    <ion-icon name='log-out' class="log-out" (click)="logout()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="always"></ion-searchbar>
  <ion-list>
    <ion-list-header>
      <h3>Restaurantes</h3> 
    </ion-list-header>

    <ion-item>
      <ion-avatar >
        <img src="../../assets/img/local-kfc.png" alt="">
      </ion-avatar>
      <ion-label class="info">
        <h2><a routerLink="/local">Kentucky Fried Chicken</a></h2>
        <p>Pasa por nuestro local y conoce nuestras promociones</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar >
        <img src="../../assets/img/Mcdonalds.png" alt="">
      </ion-avatar>
      <ion-label class="info">
        <h2>Mcdonalds</h2>
        <p>Pasa por nuestro local y conoce nuestras promociones</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar >
        <img src="../../assets/img/pizzahut.png" alt="">
      </ion-avatar>
      <ion-label class="info">
        <h2>Pizza Hut</h2>
        <p>Pasa por nuestro local y conoce nuestras promociones</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <h3>Farmacias</h3> 
    </ion-list-header>

    <ion-item>
      <ion-avatar >
        <img src="../../assets/img/logo-cruzazul.png" alt="">
      </ion-avatar>
      <ion-label class="info">
        <h2>Farmacias Cruz Azul</h2>
        <p>Pasa por nuestro local y conoce nuestras promociones</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar >
        <img src="../../assets/img/sana-sana.png" alt="">
      </ion-avatar>
      <ion-label class="info">
        <h2>Farmacias Sana Sana</h2>
        <p>Pasa por nuestro local y conoce nuestras promociones</p>
      </ion-label>
    </ion-item>
    
  </ion-list>

  <ion-list>
    <ion-list-header>
      <h3>Bancos</h3> 
    </ion-list-header>

    <ion-item>
      <ion-avatar >
        <img src="../../assets/img/banco-del-pacifico.png" alt="">
      </ion-avatar>
      <ion-label class="info">
        <h2>Banco del Pacifico</h2>
        <p>Cajeros Automaticos</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar >
        <img src="../../assets/img/Banco_Guayaquil.png" alt="">
      </ion-avatar>
      <ion-label class="info">
        <h2>Banco Guayaquil</h2>
        <p>Cajeros Automaticos</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
  

</ion-content>
